$svgs: ({{#items}}
    '{{{filename}}}': (
        filename: '{{{filename}}}',
        url: '{{{dataurl}}}',
        width: {{{width}}}px,
        height: {{{height}}}px,
        variables: {{{variables}}}
    ),
{{/items}});

@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);
    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
    @return $string;
}

@function _get-svg-url($name, $args) {
    @if map-has-key($svgs, $name) {
        $args: keywords($args);
        $svg: map-get($svgs, $name);
        $url: map-get($svg, 'url');
        $variables: map-get($svg, 'variables');
        @each $key, $value in $variables {
            @if map-has-key($args, $key) {
                $value: map-get($args, $key);
            }
            $value: str-replace(quote($value), '#', '%23');
            $url: str-replace($url, '{' + $key + '}', $value);
        }
        @return $url;
    } @else {
        @return null;
    }
}

@function get-svg-url($name, $args...) {
    @return _get-svg-url($name, $args);
}

@mixin svg($name, $args...) {
    $url: _get-svg-url($name, $args);
    @if $url != null {
        background-image: url($url);
    } @else {
        @warn 'Svg '+ $name +' can not be found.';
    }
}
@mixin svg-img($name, $args...) {
    @include svg($name, $args);
}

@mixin svg-dims($name) {
    @if map-has-key($svgs, $name) {
        width: map-get(map-get($svgs, $name), 'width');
        height: map-get(map-get($svgs, $name), 'height');
    } @else {
        @warn 'Svg '+ $name +' can not be found.';
    }
}
@mixin svg-wd($name) {
    @if map-has-key($svgs, $name) {
        @include svg($name);
        @include svg-dims($name);
    } @else {
        @warn 'Svg '+ $name +' can not be found.';
    }
}
